<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<ng-container *ngIf="PipeDemo">
  <div class="demo">
    <div>Start date [Use Pipe]: {{ startDate | date: "MMM dd yyyy" }}</div>
    <div>{{ title | uppercase }}</div>
    <div>{{ title | titlecase }}</div>
    <div>{{ title | lowercase }}</div>
    <div>{{ price | number: "3.3-5" }}</div>
    <div>{{ price | currency }}</div>
    <div>{{ price | currency: "EUR" }}</div>
    <div>{{ price | currency: "GBP" }}</div>
    <div>Rescentage: {{ rate | percent }}</div>
  </div>
</ng-container>

<ng-container *ngIf="JSONpipe">
  {{ courses | json }}
</ng-container>

<ng-container *ngIf="KeyValuePairPipe">
  <div *ngFor="let pair of course | keyvalue">
    {{ pair.key + ": " + pair.value }}
  </div>
</ng-container>

<div class="courses">
  <course-card
    *ngFor="
      let course of courses | slice: 0:20;
      index as i;
      first as isFirst;
      last as isLast;
      even as isEven;
      odd as isOdd
    "
    [class.is-first]="isFirst"
    [class.is-even]="isEven"
    [class.is-odd]="isOdd"
    [class.is-last]="isLast"

    (courseSelected)="onCourseSelected($event)"
    [course]="course"
    [cardIndex]="i + 1"
  ></course-card>
</div>
